<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>DWDocker.png</string>
	<key>CFBundleIdentifier</key>
	<string>at.deepwell.LaunchBar.action.dwdocker</string>
	<key>CFBundleName</key>
	<string>DWDocker</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LBAssociatedApplication</key>
	<string>com.apple.Terminal</string>
	<key>LBDebugLogEnabled</key>
	<true/>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Johannes Tiefenbrunner</string>
		<key>LBEmail</key>
		<string>dwdocker@deepwell.at</string>
		<key>LBSummary</key>
		<string>A simple Action to work with Docker containers</string>
		<key>LBTwitter</key>
		<string></string>
		<key>LBWebsiteURL</key>
		<string>https://deepwell.at</string>
	</dict>
	<key>LBRequiredApplication</key>
	<string>com.apple.Terminal</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.js</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>(C) 2024 Deepwell.at</string>
</dict>
</plist>
